.shop-item{
    border-radius:5px;
    transition: 0.3s;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;
    padding:1rem;
    margin:1rem;
}
.shop-item:hover{
    -webkit-box-shadow: 0px 0px 7px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 7px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 7px -4px rgba(66, 68, 90, 1);
    cursor:pointer;
}
.shop-item-img{
    width:80%;
}
.shop-item-description{
    text-align: center;
}
