.sign-in{
    font-size:1.1rem;
    border-radius: 10px;
    padding: 0.7rem;
    margin: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.sign-in:hover{
    background-color: #A9CCCF;
    color: white;
}
.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.auth-credentials{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.auth-credentials input{
    padding:0.7rem;
    outline: none;
    border:none;
    border-bottom:none;
    -webkit-box-shadow: 1px 1px 8px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 1px 8px -5px rgba(66, 68, 90, 1);
    box-shadow: 1px 1px 8px -5px rgba(66, 68, 90, 1);
    transition: 0.2s;
    border-radius: 10px;
}
.input__error{
    border:1px solid red !important;
}
.auth-credentials input:focus{
    -webkit-box-shadow: 1px 1px 8px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 1px 8px -1px rgba(66, 68, 90, 1);
    box-shadow: 1px 1px 8px -1px rgba(66, 68, 90, 1);
}
.input-module{
    width:60%;
}
.big-button{
    background-color: #61828A;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    border: none;
    margin: 1rem;
    font-size:1.2rem;
    width:65%;
}
.big-button:hover{
    cursor: pointer;
}
.input-validation-error{
    color:red;
    font-size:0.7rem;
}
