.navbar{
    background-color: #A9CCCF;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.home{
    width:32px;
    height:32px;
}
.navbar *{
    transition: 0.2s ease-out;
    color:white;
    padding:1rem;
    text-decoration: none;
    background-color: none;
    color:white;
    font-size: 1.2rem;
    margin:0.5rem;
    border-radius: 2rem;
}
.navbar *:hover{
    cursor: pointer;
    background-color: white;
    color:#A9CCCF;
}