
.logo{
    width:128px;
    height:128px;
    color:white;
}
.header{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #61828A;
    color:white;
    align-items: center;
    padding: 2rem;
}
.title{
    font-size:3rem;
}