.shop-content{
    display:flex;
    flex-direction: row;
    background-color: #DFE9EB;
    flex-grow:7;
}
.footer{
    background-color: #61828A;
    display:flex;
    padding:2rem;
    flex-direction: row;
    justify-content: space-between;
    color:white;
}
.main{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}
