body {
  margin: 0;
  height:100%;
  font-family: 'lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height:100%;
  margin:0;
  position:relative;
  --swiper-theme-color: #61828A !important;
}
h1{
  font-size:4rem;
}
h2{
  font-size:3rem;
}
h3{
  font-size:2rem;
}
p{
  font-size:1.5rem;
}
#root{
  height:100%;
}
@media (min-width: 858px) {
  html {
      font-size: 12px;
  }
}

@media (min-width: 780px) {
  html {
      font-size: 11px;
  }
}

@media (min-width: 702px) {
  html {
      font-size: 10px;
  }
}

@media (min-width: 624px) {
  html {
      font-size: 9px;
  }
}

@media (max-width: 623px) {
  html {
      font-size: 8px;
  }
}
