body {
  margin: 0;
  height:100%;
  font-family: 'lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height:100%;
  margin:0;
  position:relative;
  --swiper-theme-color: #61828A !important;
  font-size: calc(15px + 0.390625vw);
}
h1{
  font-size:1.6rem;
}
h2{
  font-size:1.4rem;
}
h3{
  font-size:1.2rem;
}
p{
  font-size:1rem;
}
#root{
  height:100%;
}

