.overlay{
    position: fixed;
    height:100%;
    width:100%;
    background-color: rgba(70, 70, 70, 0.80);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}